body{
    background-color:rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);;

}
#div1{
    background-color:white ;
    margin: 100px 100px 100px 550px;
    padding: 100px;
    height: 300px;
    width: 150px;
    border-radius: 50px;
    border-color: black;
    box-shadow: 10px 10px darkviolet;
}
h3{
    color: gray;
    text-shadow: 2px 2px 4px yellow;
}
#div3{
    background-color: maroon;
    border-radius: 500px;
    height: 25px;
    width: 25px;
    margin-top: -374px;
    margin-left: 675px;
}
#div4{
    background-color:grey;
    border-radius: 500px;
    height: 25px;
    width: 25px;
    margin-top: -25px;
    margin-left: 710px;
}
 #div5{
    background-color: green;
    border-radius: 500px;
    height: 25px;
    width: 25px;
    margin-top: -26px;
    margin-left: 745px;
}
button{
    border-radius: 25px;
    border-color: red;
    margin-left:680px;
    color:red;
    padding: 5px;
}

